<ul class='dropdown'><li><a href='#'>Albums</a><ul class='sub_menu'>
<li><a href='#' onclick='replaceContent("11.10.09 Zoo Marion state park")'>11.10.09 Zoo Marion state park</a></li>
<li><a href='#' onclick='replaceContent("11.09.21 Seattle")'>11.09.21 Seattle</a></li>
<li><a href='#' onclick='replaceContent("11.09.16 Silicon Valley SF")'>11.09.16 Silicon Valley SF</a></li>
<li><a href='#' onclick='replaceContent("11.08.18 Toronto")'>11.08.18 Toronto</a></li>
<li><a href='#' onclick='replaceContent("11.07.25 GNOC")'>11.07.25 GNOC</a></li>
<li><a href='#' onclick='replaceContent("11.07.24 Six Flags")'>11.07.24 Six Flags</a></li>
<li><a href='#' onclick='replaceContent("11.07.01 Maine")'>11.07.01 Maine</a></li>
<li><a href='#' onclick='replaceContent("11.06.26 NYC")'>11.06.26 NYC</a></li>
<li><a href='#' onclick='replaceContent("10.10.09 Grand Haven")'>10.10.09 Grand Haven</a></li>
<li><a href='#' onclick='replaceContent("10.05.01 Commencement")'>10.05.01 Commencement</a></li>
<li><a href='#' onclick='replaceContent("10.04.28 Chicago")'>10.04.28 Chicago</a></li>
<li><a href='#' onclick='replaceContent("10.04.17 UU BBS")'>10.04.17 UU BBS</a></li>
<li><a href='#' onclick='replaceContent("09.11.28 DC-Sunny")'>09.11.28 DC-Sunny</a></li>
<li><a href='#' onclick='replaceContent("09.11.27 Philadelphia")'>09.11.27 Philadelphia</a></li>
<li><a href='#' onclick='replaceContent("09.11.26 DC")'>09.11.26 DC</a></li>
<li><a href='#' onclick='replaceContent("09.11.25 Pittsburgh")'>09.11.25 Pittsburgh</a></li>
<li><a href='#' onclick='replaceContent("09.11.02 Dennys")'>09.11.02 Dennys</a></li>
<li><a href='#' onclick='replaceContent("09.10.18 Autumn")'>09.10.18 Autumn</a></li>
<li><a href='#' onclick='replaceContent("09.09.26 RootBeer")'>09.09.26 RootBeer</a></li>
<li><a href='#' onclick='replaceContent("09.09.05 Gallup Park")'>09.09.05 Gallup Park</a></li>
<li><a href='#' onclick='replaceContent("09.08.30 IKEA")'>09.08.30 IKEA</a></li>
<li><a href='#' onclick='replaceContent("09.08.27 Present on Valentines Day")'>09.08.27 Present on Valentines Day</a></li>
<li><a href='#' onclick='replaceContent("00 Receptions")'>00 Receptions</a></li>
<li><a href='#' onclick='replaceContent("00 Cook")'>00 Cook</a></li>
<li><a href='#' onclick='replaceContent("00 Buildings")'>00 Buildings</a></li>
<li><a href='#' onclick='replaceContent("00 Animals")'>00 Animals</a></li>
<li><a href='#' onclick='replaceContent("Home")'>Home</a></li>
</ul></li></ul>
