/* By Gary */

h1,h2,h3
{
	color:#444;	
}

p
{
	font-size:80%;
}
a
{
	color: #0077aa;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

#container
{
	margin: 0 auto;
	/*width: 800px;*/
	background: #fff;
	font-family: arial,serif;
}

#header
{
	height:50px;
	background: #f1f1f1;
	padding: 20px;
	margin:0px;
	border-bottom: solid #ccc 1px;
}

#header h1 
{ 
	color:#000;
	margin: 0;
	font-size: 50px;
	font-family:'Cabin Sketch';
	float:left;
}
#header h2
{
	float:left;
	margin-left:20px;
	font-family:'Cabin Sketch';
}
/*
#menu
{
	width: 200px;
	padding: 0 0 0 10px;
	margin: 0px 20px 0 0;
	display: inline;
	border-right:solid #ccc 1px;
}
#menu ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}
#menu a:link,
#menu a:visited
{
	display:block;
	color:#000;
	
	text-align:left;
	padding:4px;
	text-decoration:none;
	font-variant:small-caps;
}
#menu a:hover,
#menu a:active
{
	background-color:#ccc;
}
*/

#content
{
	margin: 20px;
}

#content h2
{ 
	margin: 0; 
	font-size: 20px;
}
#content h3
{
	font-size: 16px;
	margin-bottom:0px;
	margin-top:25px;
	font-family:'Cabin Sketch';
}

#content b
{
	color:#444;
}

#content table
{
	font-size:80%;
}

#footer
{
	font-size: 60%;
	clear: left;
	color: #444;
	background: #fff;
	text-align: right;
	padding: 20px;
	border-top: solid #ccc 1px;
}


ul { list-style: none;}

/* 
 * 	LEVEL ONE
 * 	*/
ul.dropdown                         { float:right; margin-right:20px;/*position:absolute; top:0; right:0; width:300px; */ }
ul.dropdown li                      { background: #4D90FE; }
ul.dropdown a:hover		            { text-decoration:none;} 
ul.dropdown a:active                { color: #fff; }
ul.dropdown li a                    { color: #fff;font-size:20px;display: block; padding: 8px 15px; border-right: 1px solid #333; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { /*background: #F3D673; */color: black; position: relative; }
ul.dropdown li.hover a              { /*color: black;*/ }


/* 
 * 	LEVEL TWO
 * 	*/
ul.dropdown ul 						{ z-index: 100;width: 250px; visibility: hidden; position: absolute; top: 100%; right:0;}
ul.dropdown ul li 					{ margin-top:-1px;font-size:14px;font-weight: normal; background: #f6f6f6; /*color: #000; */
	border: 1px solid #ccc; float: none; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ color: #0077aa;font-size:14px;border-right: none; width: 100%; display: inline-block; } 
ul.dropdown ul li:hover			{ background:#ccc;}
/* 
 * 	LEVEL THREE
 * 	*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }
